body{
  background: rgb(89, 142, 240);
}
.start_button{
  display: flex;
  justify-content: center;
  margin: 8%;
}
.start_button_1{
    width: 220px;
    height: 50px;
}
.questions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
.questions_question{
margin: 15px;
}
.option_image, .option_option{
  cursor: pointer;
}
.option_option{
  text-align: center;
  margin: auto;
  width: 40px;
  display: block;
  font-size: large;
}
.option_image:hover{
  border: 1px solid white;
}
.option_option:hover{
  border: 1px solid white;
}
.questions_options{
  display: flex;
}
.result_section{
  margin:10%;
  background-color: aliceblue;
  padding: 5%;
}
.prev_button{
width: 100%;
}
.bacK_button{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}